*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
.site {
    width: 80%;
    margin:  50px auto;
    padding: 25px;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.container{
    display: flex ;
    flex-wrap: wrap;
}
.header{
    flex: 0 0 100%;
}
.main{
    flex: 0 0 65%;
    margin-right: 20px;
}
.sidebar{
    flex: 0 0 calc(35% - 20px);
}

.container > *{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.footer{
    flex:   0 0 100%;
    margin:0;
}
@media (max-width: 800px){
    .main{
        flex: 0 0 100%;
        margin-right: 0px;
        
    }
    .sidebar{
        flex: 0 0 100%;
    }
}

