.css-box-model{
    width: 50%;
    margin: 50px auto;
}
.css-box-model div{
    border: 1px dashed;
    margin: 10px 20px 20px 20px;
    
}
.css-box-model div::before{
    display: block;
    padding-left: 10px;
    font-size: 14px;

}
.content {
    text-align: center;
    background-color: aqua;
    
}
.content p{
    font-weight: bold;
}
.padding{
    background-color: rgb(85, 227, 106);
}
.padding::before{
    content: 'padding';
}
.border{
    background-color: rgb(235, 194, 118);
}
.border::before{
    content: 'border';
}
.margin{
    background-color: rgb(255, 128, 0);
}
.margin::before{
    content: 'margin';
}